.agency-section {
    font-family: 'Poppins', sans-serif;
    color: #000000;

    h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 42px;
        text-align: center;
        margin: 0 auto 1rem;

        padding-top: 3rem;
        width: 90%;
        border-top: 2px solid #00BAFF;

        @media screen and (min-width: 1280px) {
            width: 360px;
        }
    }

    .section-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        max-width: 97%;
        padding: 1rem 0 5rem;
        margin: 0rem auto;

        @media screen and (min-width: 1280px) {
            flex-direction: row-reverse;
            max-width: 1280px;
            padding: 2rem 0 4rem;
            height: 420px;
        }

        img {
            max-width: 100%;
        }

        .arrows {
            cursor: pointer;
        }

        .text {
            text-align: left;
            margin: 0 auto;
            width: 100%;
            max-width: 320px;

            @media screen and (min-width: 420px) {
                width: 380px;
                max-width: 400px;
            }

            @media screen and (min-width: 576px) {
                width: 100%;
                max-width: 485px;
            }

            @media screen and (min-width: 1280px) {
                margin: unset;
                max-width: 525px;
            }

            .text-line {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-top: 2px solid #EDEDED;
                padding: 0rem 2rem;

                @media screen and (min-width: 576px) {
                    width: 420px;
                }

                @media screen and (min-width: 1280px) {
                    width: 460px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    margin-bottom: 2rem;


                    @media screen and (min-width: 1280px) {
                        text-align: left;
                    }
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: left;
                margin: 0;
                padding: 0rem 2rem 2rem 2rem;

                @media screen and (min-width: 576px) {
                    margin: 0 auto;
                    max-width: 80%;
                    padding: 0rem 2rem 2rem 0rem;
                }

                @media screen and (min-width: 1280px) {
                    margin: 0;
                    max-width: unset;
                    padding: 0rem 2rem 2rem;
                }
            }
        }

        .text.open-text {
            background-color: #EDEDED;

            .text-line {
                h3 {
                    color: #1C73A8;
                }
            }
        }
    }
}

.text:last-child .text-line {
    border-bottom: 2px solid #EDEDED;
}